/*@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,700,700italic);*/
@import url(http://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700,400italic);
@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,700);

body { 
  font-family: 'Montserrat', sans-serif; 
  font-weight: 400;
  line-height: 2.5em;
  font-size: 1em;
}
h1, h3, .fake-heading {
  font-size: 2em;
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
  padding-bottom: 0.15em;
  border-bottom: 3px solid #D6D6D6;
  margin: 0.3em 0;
}
div.title h1, div.title h2, div.shift-up h3{
  font-size: 250%;
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
  line-height: 1.2em;
  color: #393939;
  padding: 0 0 0.15em 0;
  border-bottom: 3px solid #D6D6D6;
  margin: 0 0 0.2em 0;
}
.title .thirdtitle {
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
  color: #767676;
  margin-top: -9em;
}
.title .subtitle {
  color: #009af8;
}
.title p {
  margin-top: 0.2em;
}
.remark-slide-content.right .thirdtitle {
  float:right;
}
.remark-slide-content.left .thirdtitle {
  float:left;
}
h2, h3, .title .subtitle, .fake-heading {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}
.title, .title.left {
  background-image: url(logo-edx-x-right.svg);
  background-size: contain;
  background-position: right;
}
.title.right {
  background-image: url(logo-edx-x-left.svg);
  background-size: contain;
  background-position: left;
}
.remark-slide { border-top: 15px solid #009CfC; }
.remark-slide-content { 
  margin: 1em 2em; 
  padding: 1em 2.5em 1em 2.5em;
  font-size: 1.7em; 
  background-image: url(logo-edx.svg);
  background-position: bottom right; 
  background-size:auto;
  background-repeat: no-repeat;
}
img {max-width: 100%;}
.float-left { float: left; margin-right: 1em; }
.float-right { float: right;  margin-right: 1em; }
.remark-code, .remark-inline-code { font-family: 'Ubuntu Mono'; }
a, a:link, a:visited { color: #009af8; }
.remark-slide-number { display: none; }
pre { clear: both; }
.remark-code { font-size: 0.9em; }
.highlight { background-color: rgb(251, 255, 138); padding: 2px 5px 2px 5px; font-style: italic; }
.scale50 { width: 50%; }
.scale40 { width: 40%; }
.scale25 { width: 25%; }
.fake-heading { display: block; font-size: 35px!important; }
.sr {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
figcaption { font-size: 70%; font-family: "Ubuntu Mono", monospace; line-height: 1.2em;}
figcaption > a { font-size: 170%; line-height: 2em; }